.NavBar {
    height: 100vh;
    .nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            cursor: pointer;

            .close-button-line {
                display: block;
                position: absolute;
                top: 50%;
                height: 2px;
                width: 25px;
                background-color: #037fff;
                transform: rotate(-45deg) translate(0, -50%);

                &:first-of-type {
                    transform: rotate(45deg);
                }
            }

            @media screen and (min-width: 1000px) {
                display: none;
            }
        }

        .profile {
            width: 100%;
            text-align: center;
            margin-top: 5rem;
            border-bottom: 1px solid #2e344e;
            img {
                width: 70%;
                border-radius: 100%;
                border: 5px solid #2e344e;
                margin-bottom: 1rem;
            }
        }

        .nav-items {
            width: 100%;
            .nav-item {
                list-style: none;
                text-align: center;
                a {
                    text-decoration: none;
                    font-size: inherit;
                    color: inherit;
                    display: block;
                    padding: 0.5rem 0;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0.4rem;
                        height: 100%;
                        background-color: #0381ff33;
                        transform-origin: bottom;
                        transform: scale(0);
                        overflow-x: hidden;
                        transition: transform 0.6s, 0.2s width 0.5s cubic-bezier(1, -0.16, 0.6, 1.35);
                    }

                    &:hover::before {
                        width: 100%;
                        transform: scale(1);
                    }
                }
            }
        }

        .footer {
            width: 100%;
            border-top: 1px solid #2e344e;
            p {
                text-align: center;
                padding: 1rem 0;
            }
        }
    }
}

.active {
    background-color: #037fff;
}
